body {
  background: #fff;
  font-family: "Museo Sans 900";
  margin: 0;
  padding: 0;
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Natasha";
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-size: 49px;
}

h3 {
  font-size: 37px;
}

h4 {
  font-size: 22px;
  color: rgba(34, 36, 27, 0.66);
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

div,
p,
a,
span,
input,
form,
button,
ul,
li {
  box-sizing: border-box;
}

.container {
  max-width: 943px;
  width: 100%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

a,
button,
input {
}

input,
input:hover,
input:focus,
input:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

/* media quaries */
@media screen and (max-width: 1200px) {
}
/* 768-992px */
@media screen and (max-width: 992px) {
  .container {
    max-width: 710px;
  }
  .achieve {
    margin-left: 40px;
  }
  .programs__list {
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
  }

  .portfolio__work {
    /* margin-right: 21px; */
  }
  .portfolio__worklast-child {
    margin: 0;
  }
  .author {
    flex-direction: column;
  }
  .achieve {
    text-align: left;
    margin-top: 30px;
    margin-left: 0px;
  }
  .achieve__list {
    margin: 0;
    margin-top: 30px;
  }
}
/* 576-768px*/
@media screen and (max-width: 768px) {
  .container {
    max-width: 580px;
  }
  .nav {
    flex-direction: column;
    margin-bottom: 40px;
  }

  .nav__list {
    margin: 40px auto;
  }

  h1 {
    font-size: 45px;
  }

  .arrow__down {
    margin-top: 40px;
  }
  .portfolio {
    gap: 21px;
  }
}
/* 320-576 */
@media screen and (max-width: 576px) {
  .container {
    max-width: 320px;
    text-align: center;
    align-items: center;
  }

  .nav__list {
    flex-direction: column;
    gap: 21px;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 32px;
  }
  .second__title {
    font-size: 26px;
  }

  .author {
    max-width: 80%;
  }

  .achieve__list {
    flex-direction: column;
    gap: 21px;
  }
  .call__main {
    margin-top: 40px;
    flex-direction: column;
  }

  .write {
    margin-top: 40px;
    flex-direction: column;
  }

  .portfolio {
    text-align: center;
    align-items: center;
    max-width: 95%;
    flex-direction: column;
  }
}
